{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    Liste over de bedste servere (antal stemmer, en per bruger)<br>
    Mulighed for at tilføje en ny server (skal "godkendes" af brugerne)<br>
    Bruger skal have mulighed for at give en ny server grønt lys (x antal godkendelser sender den nye server til listen)<br>
    KUN DANSKE SERVERE, SOM TALER DANSK!
</div>

{% endblock %}