{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    Nyeste billeder<br>
    Billeder fra en bestemt bruger<br>
    Grupper?<br>
    Stemme/like (top liste?)
</div>

{% endblock %}