{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    Minecraftwiki om igen, MEN på dansk!
</div>

{% endblock %}