{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    Liste over bedste youtube kanaler<br>
    Stemme/like system<br>
    Tilføj ny kanal (skal godkendes af brugerne)<br>
</div>

{% endblock %}