{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    Liste over allerede godkende guides<br>
    Mulighed for at tilføje en ny guide<br>
    Mulighed for at stemme på endnu ikke godkende guides (sådan at de bliver godkendt)<br>
    Forslå rettelser til en guide (godkendes af orginal forfatter)<br>
</div>

{% endblock %}