{% extends 'MinecrafterdkSiteBundle:Site:base.html.twig' %}

{% block body %}

<!-- thoughts and missing things -->
<div class="alert alert-info">
    A single view of a server.
</div>

{% endblock %}