<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h3>Hello and Wellcome to NetflixManager</h2>
	<p>You are allmost ready to use this service, you just have to activate your account, by entering the link below.</p>
	<p><a href="http://tcarlsen.my.phpcloud.com/netflixmanager/app_dev.php/activate_user/{{ salt }}">http://tcarlsen.my.phpcloud.com/netflixmanager/app_dev.php/activate_user/{{ salt }}</a></p>
</body>
</html>